<!DOCTYPE html>
<html>
  <head>
    <title>Presto</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Lora:700|Roboto" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%= yield %>
        </div>
      </div>
  </body>
</html>
