<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @pub.image %>');">
  <div class="banner-content">
    <h1><%= @pub.name %></h1>
    <p>
      <%= @pub.location %>
      <% @pub.average.times do %>
        <i class="fa fa-star" aria-hidden="true" style="color: yellow;" ></i>
      <% end %>
    </p>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <h2 class='text-center'>Reviews</h2>
      <ul>
        <% @pub.reviews.each do |review| %>
          <li>
            - <%= review.content %>
            <% review.stars.times do %>
              <i class="fa fa-star" aria-hidden="true" style="color: yellow;" ></i>
            <% end %>
          </li>
        <% end %>
      </ul>

      <hr>

      <h2 class='text-center'>Add a review</h2>
      <%= simple_form_for [@pub, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :stars, collection: [1, 2, 3, 4, 5] %>
        <%= f.submit 'Create a review', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>


